.instrumentos{
    .instrumentos__instrumentos2{
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        padding: 50px;
        width: 100%;
        align-items: center;
        margin: 0 auto;
        background-color: rgba(211, 211, 211,0.8);
        padding: 1rem;
        .instrumentos{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 40%;
            }
        }
    }
}